<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Slack List Jp</title>
  <meta name="description" content="SlackListJpは日本の厳選されたSlackワークスペースを紹介するサイトです。プログラミング（Ruby on Rails,PHP,Laravel,Swift,Java）、デザイン、マーケティングなど多岐にわたったワークスペースを紹介します。">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120925425-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-120925425-1');
  </script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.0.0/dist/siimple.min.css">
</head>
<body>
<div class="siimple-content siimple-content--large siimple-content--grey">
  <div class="siimple-h1" align="center">Slack List Jp</div>
  <p class="siimple-h5" align="center">厳選されたSlackワークスペースをご紹介</p>

  <div class="siimple-p" align="center"><a href="" target="_blank" class="siimple-link"><small class="siimple-small">あなたのワークスペースを登録しませんか？</small></a></div>

  <div id="v-list">
    <ul v-for="category in categories">
      <li v-on:click="selectCategory(category.id)">{{ category.name }}</li>
    </ul>
    <div class="siimple-grid">
      <div class="siimple-grid-row">
        <div class="siimple-grid-col siimple-grid-col--4 siimple-grid-col-lg--6 siimple-grid-col-md--12" v-for="workspace in workspaces">
          <div class="siimple-box">
            <div class="siimple-box-title">{{ workspace.name }}</div>
            <div class="siimple-box-subtitle">This is the box subtitle</div>
            <div class="siimple-box-detail">{{ workspace.description }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<! https://www.siimple.xyz/documentation/ -->

<script src="index.js"></script>
</body>
</html>
